@model TravelTripProje.Models.Siniflar.Blog
@{
    ViewBag.Title = "BlogBul";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("BlogGüncelle", "Admin", FormMethod.Post)) //Bu form nerede? BlogGuncelle ve Admin sayfasında. Ne zaman calısır Form post edilince.

{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly= "readonly" }) //İd düzenlemeyi iptal ettik.
    <br />
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Tarih)
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.BlogImage)
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama,15,1, new { @class = "form-control" }) //Bu kısımda 15 ve 1 vererek acıklama kısmı kutucugunu genıslettık
    <br />
    <button class="btn btn-success">Blog Güncelle</button>
}
