@model TravelTripProje.Models.Siniflar.Yorumlar
@{
    ViewBag.Title = "YorumBul";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("YorumGüncelle", "Admin", FormMethod.Post)) //Bu form nerede? BlogGuncelle ve Admin sayfasında. Ne zaman calısır Form post edilince.

{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" }) //İd düzenlemeyi iptal ettik.
    <br />
    @Html.LabelFor(x => x.KullaniciAdı)
    @Html.TextBoxFor(x => x.KullaniciAdı, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Yorum)
    @Html.TextAreaFor(x => x.Yorum,15,1, new { @class = "form-control" })
    <br />
                          //Bu kısımda 15 ve 1 vererek acıklama kısmı kutucugunu genıslettık
    <br />
    <button class="btn btn-success">Yorum Güncelle</button>
}


